/* Basic Reset */
/* This section resets the default margin and padding for all elements, ensuring consistency across different browsers. */
*, *:before, *:after {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

/* Base Styles */
/* These styles are applied to the html and body elements, setting the base font, color, and background for the entire page. */
html, body {
    font-family: Arial, sans-serif; /* Sets the default font */
    color: #191919; /* Sets the default text color */
    background-color:#FEFAE0; /* Sets the background color */
    line-height: 1.6; /* Sets the line height */
    height: 100%; /* Ensures these elements take up full height of the viewport */
}

/* Ensures the body takes up at least the full height of the viewport and uses flexbox for its children */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Ensures the main content takes up the flexible space in the flex container */
main {
    flex: 1;
}

/* Styles for the footer */
footer {
    text-align: center;
    height: 3rem;
    padding: 1rem;
}

/* Typography */
/* Sets the color for paragraph text */
p {
    color: rgb(74, 74, 74);
}

/* Styles for h2 headings */
h2 {
    text-align: center;
    margin-top: 1rem;
    width: 100%;
}

/* Styles for h3 headings */
h3 {
    padding: 1rem 0;
}

/* Header */
/* Styles for the header, including layout and border */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid #CCD5AE;
    background-color: #E9EDC9;
}

/* Styles for the h1 inside the header */
header h1 a {
    color: rgb(106, 106, 106);
    font-size: 1.5rem;
    font-family: 'Nothing You Could Do', cursive;
    text-decoration: none;
}

/* Hover effect for links in the header */
header a:hover {
    color: #0a0a0af0;
    font-style: oblique;
}

/* Initially hides the 'more' options */
.more {
    display: none;
}

/* Styles for the 'more-menu' */
.more-menu {
    display: none;
    position: absolute;
    background-color: #E9EDC9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Navigation */
/* Removes list styling and sets layout for the navigation menu */
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

/* Spacing for list items in the navigation */
nav li {
    margin-left: 3rem;
}

/* Styles for links in the navigation */
nav a {
    color: rgb(131, 131, 131);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}

/* Hover effect for navigation links */
nav a:hover {
    color: #0a0a0af0;
    font-style: oblique;
}

/* Index Page Style */
/* Sets the layout for the index page */
.index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    text-align: center;
}

/* Styles for h2 on the index page */
.index h2 {
    font-size: 2.5rem;
}

/* Keyframes for a waving animation */
@keyframes wave-animation {
    0%, 100% { transform: rotate(0deg); }
    20%, 60% { transform: rotate(-20deg); }
    40%, 80% { transform: rotate(10deg); }
}

/* Applies the wave animation to elements with the 'wave' class */
.wave {
    display: inline-block;
    animation-name: wave-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%; /* Adjusts the rotation point of the animation */
}

/* Styles for the typewriter effect */
#typewriter {
    border-right: 2px solid;
    white-space: nowrap; /* Prevents line breaks */
    overflow: hidden; /* Hides overflowing text */
}
/* Index Page Styles */
/* Styles for paragraphs on the index page */
.index p {
    font-size: 1.5rem;
}

/* Styles for images on the index page */
.index img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 3rem;
    object-fit: cover;
}

/* About Page Styles */
/* Sets the layout for the about page */
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

/* Wrapper for content on the about page */
.about .content-wrapper {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

/* Styles for text content on the about page */
.about .text-content {
    width: 50%;
    text-align: left;
    margin: 5% 2.5%;
}

/* Styles for images on the about page */
.about img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 30%;
    margin: 5% 2.5%;
}

/* Project Page Styles */
/* Layout for the project container */
.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding-top: 1.5rem;
}

/* Styles for project images */
.project-img {
    width: 400px; 
    border: 1px solid #ddd; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    transition: transform 0.3s ease;
}

/* Hover effect for project images */
.project-img:hover {
    transform: scale(1.05); /* Enlarges the image */
}

/* Initially hides project info */
.project-info {
    display: none;
    position: absolute;
}

/* Shows project info when active */
.project-info.active {
    display: block;
}

/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

/* Styles for the modal content */
.modal-content {
    background-color: #fafcdb;
    margin: 10% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 80%;
    height: 50%;
}

/* Styles for the project name in the modal */
#project_name {
    font-size: x-large;
    font-weight: bold;
}

/* Styles for the close button in the modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Hover effect for the close button */
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Interest Page Styles (Carousel) */
/* Styles for navigation buttons in the carousel */
.interest-nav button {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: 1px solid #CCD5AE;
    background-color: #E9EDC9;
    cursor: pointer;
}

.interest-nav button:hover{
    background-color: #CCD5AE;
}

/* Layout for the navigation */
.interest-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;
}

/* Styles for the content container */
.content-container {
    text-align: center; /* Centers the text */
    position: relative;
}

/* Styles for images in the content container */
.content-container img {
    display: none;
    margin: 1rem auto; /* Centers the image */
    width: 25%;
}
#hongkong, #uk, #guilin{
    width: 40%; /* Width for specific images */
}

/* Initially shows the first image in the content container */
.content-container img:first-child {
    display: block;
}

/* Adjusts the position of the arrow buttons */
/* Base styles for arrow buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    background-color: transparent; 
    border: none; 
    font-size: 50px; 
    color: #333; 
}

/* Positions the previous button */
.prev {
    left: 25%;
}

/* Positions the next button */
.next {
    right: 25%;
}

/* Styles for iframe in the content container */
.content-container iframe {
    margin: 0.5rem;
    border: none;
}

/* Contact Page Styles */
/* Layout for the contact page */
.contact {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

/* Layout for the contact form */
.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Styles for input fields in the contact form */
.contact #name, 
.contact #email, 
.contact #subject,
.contact #message {
    width: 80%;
    height: 2rem;
    margin: 0 0 1rem 0;
    background-color: #FEFAE0;
    border: 2px solid #CCD5AE;
}

/* Styles for the message textarea in the contact form */
.contact #message {
    height: 10rem;
}

/* Styles for error messages */
.error {
    color: red;
    font-size: 12px;
}

/* Styles for the submit button in the contact form */
.contact #submit {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border: 1px solid #CCD5AE;
    background-color: #E9EDC9;
    cursor: pointer;
}

.contact #submit:hover {
    background-color: #CCD5AE;
}

/* Layout for contact cards */
.contact-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

/* Styles for individual contact cards */
.contact-card {
    background-color: #E9EDC9;
    border: 1px solid #CCD5AE;
    border-radius: 4px;
    padding: 1rem;
    width: 25%;
    text-align: center;
}

/* Styles for paragraphs in the contact section */
.contact p {
    text-align: center;
}

/* Styles for links in the contact section */
.contact-card a {
    color: black;
}

/* Hover effect for links in the contact section */
.contact-card a:hover {
    color: darkolivegreen;
}

/* Resume Page Styles */
/* Layout for the resume container */
.resume-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

/* Styles for the download button link */
.button-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid #CCD5AE;
    background-color: #E9EDC9;
    color: rgb(74, 74, 74);
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}

/* Hover effect for the download button link */
.button-link:hover {
    background-color: #CCD5AE;
}

/* Styles for the resume iframe */
#resume {
    width: 800px;
    padding: 2rem 0;
}

/* Education Page Styles */
/* Styles for education cards */
.education-card {    
    width: 400px; 
    border: 1px solid #ddd; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

/* Styles for images in education cards */
.education-card img {
    width: 100%; 
    height: 200px; 
    object-fit: fill;
}

/* Styles for the information section in education cards */
.education-card-info {
    padding: 15px;
}

/* Layout for certification and education card containers */
.certification-card-container, .education-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding-top: 1.5rem;
}

/* Styles for certification cards */
.certification-card {
    position: relative;
    width: 400px;
    height: 180px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Styles for images in certification cards */
.certification-card img {
    width: 100%;
    height: 100%;
    object-fit: fill; 
}

/* Styles for the information overlay in certification cards */
.certification-card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.808); 
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 0.3s ease;
}

/* Hover effect for certification cards */
.certification-card:hover .certification-card-info {
    opacity: 1; /* Make the certification card info fully visible when hovered */
}

/* Styling for headings and paragraphs inside certification card info */
.certification-card-info h3, .certification-card-info p {
    color: black; 
    margin: 10px; 
}

/* Styling for link images */
.link-image {
    transition: transform 0.3s ease, filter 0.3s ease; /* Smooth transition for transform and filter properties */
}

/* Hover effect for link images */
.link-image:hover {
    filter: brightness(0.1); 
    transform: scale(2); 
}

/* Responsive Styles */

/* Styles for tablets and smaller screens */
@media only screen and (max-width: 992px) {
    header {
        flex-direction: column;
        align-items: flex-start; 
    }

    header h1 {
        font-size: 1.25rem; 
        margin-bottom: 0.5rem; 
    }

    nav ul {
        width: 100%; 
        justify-content: flex-start; 
        padding-top: 0.5rem;
    }

    nav li:not(:first-of-type) {
        margin-left: 1rem; 
    }

    nav li#home {
        margin-left: 0; /* No left margin for the 'home' list item */
    }

    nav a {
        font-size: 0.8rem;
        padding: 0.25rem 0; 
    }

/* Styles for mobile phones and smaller screens */
@media only screen and (max-width: 576px) {
    header h1,
    nav a,
    .index img,
    footer p {
        font-size: 0.8rem; 
    }

    /* Hide original navigation items */
    #nav_resume, #education, #interests, #contact {
        display: none; /* Hide these elements */
    }
    /* Display more options on small screens */
    .more {
        display: block; /* Make the 'more' section visible */
    }

    .more-menu{
        width: 10rem; 
    }
    .more-menu li {
        display: block; 
        text-align: left;
    }

    .prev, .next {
        font-size: 36px; 
        top: 50%; 
    }
    .prev{
        left: 2%;
    }
    .next{
        right:2%; 
    }

    .interest-nav button {
        padding: 0.5rem; 
        font-size: 0.8rem; 
    }

    .video-responsive {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%; /* Aspect ratio of 16:9 for responsive video */
        height: 0;
        margin: 1rem;
    }
    
    .video-responsive iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; 
        height: 100%; 
    }    
    .content-container iframe {
        margin: 0; 
    }
    .content-container img,
    .content-container video {
        width: 90%; 
    }

    #hongkong, #uk, #guilin{
        width: 90%;
    }

    .modal-content {
        width: 90%; 
        padding: 20px; 
    }

    .about .content-wrapper,
    .contact #name, 
    .contact #email, 
    .contact #subject,
    .contact #message {
        flex-direction: column; 
        align-items: center; 
        width: 100%;
    }

    .about .text-content,
    .about img {
        width: 80%; 
    }
    .contact-cards{
        display: flex;
        flex-direction: column; 
    }
    .contact-card {
        width: 100%; 
        margin: 1rem; 
    }

    #resume {
        width: 90%; 
        padding: 2rem 0; 
    }
}
}

